@use 'variables' as v;

.projectsPage{
    display: none;
    &__box{
        background-color: v.$Violet;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        height: 40px;
        transition: 1s;
        width: 60px;

        &:hover{
            scale: 1.03;
        }

        &__img{
            height: 25px;
            width: 25px;
            margin: auto;
        }
    }

    &__tittle{
        color: v.$White;
        text-align: center;
        margin-top: 15px;
        font-size: 32px;
    }

    &__container{
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        margin: 70px auto;
        width: 65%;
        &__box{
            background-color: v.$Pink;
            border-radius: 7px;
            box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-bottom: 20px;
            height: 250px;
            width: 265px;
    
            &__img{
                border-radius: 7px;
                height: 200px;
                width: 100%;
            }
    
            &__name{
                color: v.$White;
                font-size: 20px;
                font-weight: 500;
                padding: 10px 15px 0;
            }
        }
    }
}