@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$White: hsl(0, 0%, 100%);
$DarkViolet: rgb(21, 14, 27);
$Violet: rgb(72, 32, 107);
$Red: rgb(252, 69, 69);
$Blue: rgb(47, 60, 133);
$DarkBlue: rgb(7, 58, 99);
$Aqua: rgb(43, 131, 112);
$Green: rgb(44, 173, 145);
$Brown: rgb(83, 53, 34);
$Orange: rgb(153, 102, 25);
$DarkGreyViolet: rgb(60, 60, 122);
$LightViolet: rgb(108, 44, 172);
$LightBlue: rgb(50, 83, 126);
$Pink: rgb(107, 14, 138);
$Font: 'Roboto', sans-serif;